﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
    <nav>
        <ul class="menu">
            <li>@Html.ActionLink("main", "Index" ,"Home")</li>
        </ul>
    </nav>

    @RenderBody()

</body>
</html>
