﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Buying form</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.BookId" name="BookId" />
        <table>
            <tr>
                <td><p>Enter your name</p></td>
                <td><input type="text" name="Person" /> </td>
            </tr>
            <tr>
                <td><p>Enter address</p></td>
                <td><input type="text" name="Address" /></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="send" />
                </td>
            </tr>
        </table>
    </form>
</div>

