﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Sell-out</h3>
    <table>
        <tr class="header">
            <th><p>Name</p></th>
            <th><p>Author</p></th>
            <th><p>Price</p></th>
        </tr>
        @foreach (var book in ViewBag.Books)
        {
            <tr>
                <td><p>@book.Name</p></td>
                <td><p>@book.Author</p></td>
                <td><p>@book.Price</p></td>
                <td><p><a href="/Home/Buy/@book.Id">Buy</a></p></td>
            </tr>
        }
    </table>
</div>
